.aboutme-section-container {
    height: 100vh;
    scroll-snap-align: center;
    display: flex;
    justify-content: center;
    
}

.aboutme-section {
    width: 1400px;
    display: flex;
    justify-content: space-between;
}

.aboutme-left {
    flex: 1;
    display: flex;
    margin: 25vh 0;
    padding: 0 5vh;
    flex-direction: column;
    justify-content: center;
}

.aboutme-right {
    flex: 1;
    display: flex;
    margin: 25vh 0;
    padding: 0 5vh;
    border: none;
    border-radius: 10px;
    flex-direction: column;
    justify-content: center;
    background-color: #d3b489;
    box-shadow: 10px 10px #999966;
}

.aboutme-right h1 {
    font-size: 60px;   
}

.aboutme-right h2 {
    color: #fff;
}