.aboutme-section-container {
    height: 100vh;
    scroll-snap-align: center;
    display: flex;
    justify-content: center;
    
}

.aboutme-section {
    width: 1400px;
    display: flex;
    justify-content: space-between;
}

.aboutme-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.aboutme-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #d3b489;
}

.aboutme-right h1 {
    font-size: 60px;   
}

.aboutme-right h2 {
    color: #fff;
}